*{
    margin: 0;
    padding: 0;
}
.right{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    margin-right: 10%;
}
.logo{
width: 50px;
height: 30px;
border-radius: 50px;
margin-left: 20px;
}
.Hero-black{
    background-color: black;
    color: white;
}
.card-text{
    color:whitesmoke;
    margin-top: 100px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
.card-title{
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900;
    font-size: xx-large;
    margin-left: 50px;
    margin-top: 30px;

}
.card{
    background-color: black;
}
.img-fluid{
    max-width: 840px;
    margin-left:100px ;
    margin-top: 50px;
    width: 300px;
    border-radius: 40px;
}
.btn{
    color: goldenrod;
    margin-left: 40px;
}
.card-text1{
        font-weight: 100;
        font-size:medium;  
        margin-left: 50px;                     
}
.line{
    background-color: goldenrod;
    width:30px;
    height:3px;
    margin-left: 50px;
}
.card-title1{
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: x-large;
    margin-left: 50px;
    margin-top: 30px;
}
.context{
    margin-left: 50px;
    font-size: x-small;
}
.number{
    color: goldenrod;
}
.small{
    font-size: xx-small;
}
.card1{
    max-width: 18rem;
    max-height: 16rem;
    height: 250px
}
.card2{
    height: 250px;
    max-width: 18rem;
    height: 250px

}
.tech{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}
.space{
    margin-left: 380px;
    margin-right: 100px;
}
.box1{
    width: 300px;
    height: 250px;
    margin-top: 360px;
    margin-left: 20px;
    background-color: rgb(42, 35, 35);
}
.box2{
    width: 300px;
    height: 300px;
    margin-top: 60px;
    background-color: rgb(41, 33, 33);
}
.box3{
    width: 300px;
    height: 350px;
    margin-top: 120px;
    background-color: rgb(32, 30, 30);
}
.container{
    margin-top: 40px;
}
.texty{
    margin-top: 40px;
    margin-left: 40px;
    
}
.image{
width: 98%;
height: auto;
margin-left: 1px;
color: white;
    text-align: left;
}
.image1{
    width: 98%;
height: auto;
    color: white;
    text-align: left;
    margin-top: 20PX;
}
.image2{
    width: 98%;
height: auto;
    color: white;
    text-align: left;

}
.accordion {
    background-color:rgb(29, 27, 27);
    color: wheat;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .name{
    color: blueviolet;
    font-style: italic;
  }
  .blogbody{
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  .line1{
    background-color: blueviolet;
    width: 30px;
    height: 2px;
  }
  .h4{
    margin-left: 60px;
  }
  .logo1{
    margin-left: 45%;
    width: 80px;
    height: 60px;

  }